<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Timetable</title>
</head>
<body>
    <h1>Timetable</h1>
    <table border="1">
        <tr>
            <th>Subject</th>
            <th>Teacher</th>
            <th>Student Group</th>
            <th>Timeslot</th>
            <th>Room</th>
        </tr>
        {% for lesson in timetable.lesson_list %}
        <tr>
            <td>{{ lesson.subject }}</td>
            <td>{{ lesson.teacher }}</td>
            <td>{{ lesson.student_group }}</td>
            <td>{{ lesson.timeslot.start_time }} - {{ lesson.timeslot.end_time }}</td>
            <td>{{ lesson.room.name }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
